

.interview_title{
    font-size: 3vw;
    margin: 3em;
    width: 80%;
    text-align: center;
}
.q{
    width: 60%;
    height: 60%;
    margin-left: 6vw;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.who_q{
    font-size: 1rem;
    color: gray;
    margin-left: 1.5rem;
}
.img_wrapper_q{
    /* width: 100px; */
    /* height: 100px; */
    display: flex;

}
.img{
    width: 97px;
    height: 97px;
    /* min-width: 100px; */
    border-radius: 50%;
    margin: 20px;
    
}
.questioner{
    border: 3px solid gray;
}
.question{
    margin-top: 3rem;
    width:100vw;
}

.a{
    width: 60%;
    height: 60%;
    margin-left: 20vw;
    margin-bottom: 4rem;
}
.who_a{
    font-size: 1rem;
    text-align: right;
    margin-right: 1.5rem;
}
.who_a_1{
    color: red;
}
.who_a_2{
    color: green;
}
.who_a_3{
    color: blue;
}

.img_wrapper_a{
    display: flex;
}

.answer{
    margin-top: 2rem;
    width:100vw;
    text-align:  right;
}
.answerer_1{
    border: 3px solid red;
}
.answerer_2{
    border: 3px solid green;
}
.answerer_3{
    border: 3px solid blue;
}


@media screen and (max-width:800px) {
    .img{
        width: 50px;
        height: 50px;
        /* min-width: 100px; */
        border-radius: 50%;
    }
}