.timeline {
    position: relative;
    margin: 3em auto;
    overflow: auto;
    max-width: 70%;
}

.timeline:before {
    position: absolute;
    left: 50%;
    width: 5px;
    height: 100%;
    content: '';
    background:  #08a542;
}

.year1 {
    position: relative;
    clear: both;
    max-width: 8.5em;
    height: 2em;
    margin: 0 auto;
    padding: .1em;
    text-align: center;
    background: #ff9933;
    border-radius: 4px;
    font-size: 1.2em;
}

.year2 {
    position: relative;
    clear: both;
    max-width: 8.5em;
    height: 2em;
    margin: 0 auto;
    padding: 0.1em;
    text-align: center;
    background: #f93;
    border-radius: 4px;
    font-size: 1.2em;
}

.timeline h2 {
    padding-top: 0.4em;
    text-align: center;
    font-size: 1.2em;
}

.timeline ul {
    max-width: calc(100% - 4em);
    padding: 0 0 0 2em;
    list-style: none;
    height: 50vw;
}

.event1 {
    position: relative;
    margin-bottom: 1em;
    padding: 1em;
    background: white;
    width: 35%;
    border-radius: 8px;
    border: solid 1px black;
}

.event2 {
    position: relative;
    margin-bottom: 1em;
    margin-top: 10em;
    padding: 1em;
    background: white;
    width: 35%;
    border-radius: 8px;
    border: solid 1px black;
}

.event3 {
    position: relative;
    margin-bottom: 1em;
    margin-top: -3em;
    padding: 1em;
    background: white;
    width: 35%;
    border-radius: 8px;
    border: solid 1px black;
}

.event4 {
    position: relative;
    margin-bottom: 1em;
    margin-top: -11em;
    padding: 1em;
    background: white;
    width: 35%;
    border-radius: 8px;
    border: solid 1px black;
}

.event5 {
    position: relative;
    margin-bottom: 1em;
    margin-top: -5em;
    padding: 1em;
    background: white;
    width: 35%;
    border-radius: 8px;
    border: solid 1px black;
}

.img5 {
    opacity: 0.2;
    filter: blur(5px);
}

.timeline li:before {}

.timeline li:after {}

.timeline li:nth-child(even) {
    float: right;
}

.timeline li:nth-child(odd) {
    float: left;
}

.timeline li:nth-child(odd):before {}

.timeline li:nth-child(odd):after {}

.timeline li:nth-of-type(2n+1) {
    clear: both;
}

.timeline li .flag {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}

.timeline li .desc {
    font-size: 0.7em;
    line-height: 1.5em;
}

.timeline li .time {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}

.hide {
    overflow: hidden;
    position: relative;
}

.hide .caption {
    font-size: 110%;
    text-align: center;
    color: #fff;
}

.hide .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* マスクを表示しない */
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.hide:hover .mask {
    opacity: 1;
    /* マスクを表示する */
    padding-top: 80px;
    /* ホバーで下にずらす */
}

@media only screen and (max-width: 1200px) {

    .timeline ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
		padding: 0 0 0 1.5em;
    }

    .timeline li {
        width: 100%;
    }

    .event1 {
        margin-top: 40em;
    }

    .event2 {
        margin-top: 0;
    }

    .event3 {
        margin-top: 0;
    }

    .year2 {
        margin-top: 33em;
    }

    .event4 {
        margin-top: 24em;
    }

    .event5 {
        margin-top: 0;
    }

    .time {
        font-size: 0.9em;
    }
}