#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #F3F5FA;
  text-align:center;
  color: white;
}

/* Loading画像中央配置  */
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定  */
#splash_logo img {
  width:500px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
  animation: fadeUpAnime .5s forwards;
  opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  overflow: auto;
  /* scroll-behavior: smooth; */
} 

body {
  overflow: hidden;
} 

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
/*
「position: fixed;」でヘッダーを固定し、「z-index: 10;」で前面に表示
※他のコンテンツでpositionをrelative、absolute、fixedのいずれかに
設定している場合は、z-indexの数値が大きい方が前面に表示される
*/
#header {
  width: 100%;
  height: 90px;
  background: #F3F5FA;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 400;
  overflow: hidden;
}

.site_title {


    /* left: 20px; */
}

.site_title img {
    width: 200px;
    height: 70px;
    object-fit: cover;
}

/*
ハンバーガーメニュー
メニューが閉じている時は、「left: -300px;」で画面左に隠し、
「opacity: 0;」で非表示にしている
*/

.right_header {
    display: flex;
    justify-content: flex-end !important;
    margin-left: 53vw;
}

@media screen and (max-width:750px) {
    .site_title img {
        width:180px;
    }
    
    .right_header {
        margin-left: 30vw;
    }
}

@media screen and (max-width:530px) {
    
    .site_title img {
        width:170px;
    }
    
    .right_header {
        margin-left: 15vw;
    }

    #navi span {
        font-weight:initial;
    }
}

.under_line{
  position: relative;
  margin-bottom: 20px;
  /* text-align: center; */
  height: 5vw;
  /* border-bottom: 1px solid white; */
  width: 20vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .under_line:after {
    position: absolute;
    width: 4vw;
} */

.under_line::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 4vw;
  height: 2px;
  padding-bottom: 1px;
  background: white;
  /* transform: scale(0, 1); */
  /* transform-origin: left top; */
  transition: transform 0.3s;
    
}

.entry_button {
    text-decoration: none;
    width: 11vw;
    padding: 0 1vw;
    color: #ff9933;
    background-color: white;
    border: 3px solid #ff9933;
    transition-duration: 1s;
}

.entry_button:hover {
    color: snow;
    background-color: #ff9933;

}

.entry_button span {
    font-style: italic;
    font-size: 2vw;
}


#navi {
  position: fixed;
  top: 40%;
  /* left: 50px; */
  /* left: -300px; */
  width: 100%;
  color: #fff;
  /* padding: 36px 50px; */
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
  display: none;
}
#navi a {
  color: #fff;
  font-size: 4vw;
}
#navi span {
  font-style: italic;
  font-weight: bold;
}
/* #navi li {

} */

.text_random_anime {

        text-decoration: none;

}


.text_random_anime span{
	opacity: 0;
}
.text_random_anime.appearRandomtext span{ 
	animation:text_randomanime_on .35s ease-out forwards;
}

/*アニメーションで透過を0から1に変化させる*/
@keyframes text_randomanime_on {
	0% {opacity:0;}
	100% {opacity:1;}
}

.text_random_anime.appearRandomtext span:nth-child(2n) {
	animation-delay: .35s;/* spanのついた2の倍数の文字列の変化を0.5秒遅らせる*/
}
.text_random_anime.appearRandomtext span:nth-child(3n+1) {
	animation-delay: .35s;/* spanのついた3の倍数＋1の文字列の変化を0.15秒遅らせる*/
}


/*
ハンバーガーメニュー
メニューが開いている時は、「left: 0;」「opacity: 1;」で
画面左に表示する
*/
.open #navi {
  left: 0;
  opacity: 1;
  display: block;
}
.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
  right: 10px;
}
/*
ハンバーガーメニューの線の設定（メニューが閉じている時）
*/
.toggle_btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #08a542;
  border-radius: 4px;
  transition: all 0.5s;
}
/*
1本目の線の位置を設定
*/
.toggle_btn span:nth-child(1) {
  top: 10px;
}
/*
2本目の線の位置を設定
*/
.toggle_btn span:nth-child(2) {
  bottom: 10px;
}
/*
ハンバーガーメニューの線の設定（メニューが開いている時）
線の色を白に変更
*/
.open .toggle_btn span {
  background-color: #fff;
}
/*
1本目の線を-45度回転
*/
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
  transform: translateY(4px) rotate(-45deg);
}
/*
2本目の線を45度回転
*/
.open .toggle_btn span:nth-child(2) {
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}
#mask {
  display: none;
  transition: all 1s;
}
/*
メニューを開いている時は、全体を黒背景にする
*/
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0D8037;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}


/*************** body ***************/
.all_container {
  margin-top: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ファーストビューの写真のdiv */
.first_view {
  position: relative;
}

/* ファーストビュー画像 */
.first_view img {
  width: 100%;
  opacity: 0.5;
}

/* ファーストビュー内の文字 */
.sub-title {
  width: 100vw;
  top: 20%;
  left: 50%;
  text-align: center;
  opacity: 1;
  position: absolute;
  border: 5px solid rgba(250, 250, 250, 0.5);
  background-color: rgba(255,255,255,0.8);
  font-size: 6vw;
  color: rgb(13,128,55);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-family: "Sawarabi Mincho"; 
}


/* animation */
@-webkit-keyframes passing_bar{
	0% {
		left: 0;
		right: auto;
		width: 0;
	}
	50% {
		left: 0;
		right: auto;
		width: 100%;
	}
	51% {
		left: auto;
		right: 0;
		width: 100%;
	}
	100% {
		left: auto;
		right: 0;
		width: 0;
	}
}
@keyframes passing_bar{
	0% {
		left: 0;
		width: 0;
	}
	50% {
		left: 0;
		width: 100%;
	}
	51% {
		left: 0;
		width: 100%;
	}
	100% {
		left: 100%;
		width: 0;
	}
}
@-webkit-keyframes passing_txt{
	0% { opacity: 0; }
	50% { opacity: 0.5; }
	70% { opacity: 0.7; }
	100% { opacity: 1; }
}
@keyframes passing_txt{
	0% { opacity:0; }
	50% { opacity:0.5; }
	70% { opacity: 0.7; }
	100% { opacity:1; }
}
/* css */
.passing .passing_box {
	display: block;
	text-align: center;
    position: absolute;
      top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* height: 80%; */
}
.passing .passing_bar {
	position: relative;
    width: 100%;
	display: inline-block;
	/*　後ほど解説　*/
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.passing .passing_bar:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 0%;
	z-index: 1;
	/* 任意の値 */
	background: #3c8d5b;
    opacity: 0.5;
}
.passing .passing_txt {
    height: 100%;
    width: 100%;
	opacity: 0;
    text-align: center;
      /* -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl; */
  font-family: "Sawarabi Mincho"; 

	/* 後ほど解説 */
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	/* 任意の値 */
	font-size: 4.0rem;
	font-weight: bold;
	line-height: 1.5;
    color: #0D8037;
}



/* 動作にかかる秒数　動作が始まるまでの秒数　*/

.passing.move .passing_bar:before {
	-webkit-animation: passing_bar 1s ease 1s 1.5 normal forwards;
	animation: passing_bar 1s ease 1s 1.5 normal forwards;
}
.passing.move .passing_txt {
	-webkit-animation: passing_txt 1.5s ease 1s 1 normal forwards;
	animation:passing_txt 1.5s ease 1s 1 normal forwards;  
}
/* .passing.move .passing_bar:before {
	-webkit-animation: passing_bar 3s ease 4s 1.5 normal forwards;
	animation: passing_bar 3s ease 4s 1.5 normal forwards;
}
.passing.move .passing_txt {
	-webkit-animation: passing_txt 1.5s ease 5s 1 normal forwards;
	animation:passing_txt 1.5s ease 5s 1 normal forwards;  
} */

.main_container {
    margin: 50px;
    width: 100%;
    height: 800px;
}

.catch_texts {
margin: 0 auto;
    width: 520px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: .08em;
    font-weight: bold;
    font-family: A1 Gothic M,Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;

        box-sizing: border-box;
    background-repeat: no-repeat;
}

.catch_text {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.catch_text span {

    width: 100%;
}

.catch_text.large {
    font-size: 40px;
    letter-spacing: 0;
    font-weight: bold;
}

.catch__text+.catch__text {
    margin-top: 28px;
}

.catch_text .pad {
    padding-bottom: 15px;
}

/* フェードアップアニメーション */
.fadeUp {
    opacity : 0;
display: none;
    transform : translate(0px, 10px);
    transition: 1s;
}

/* スクロールして見えたら見えるようになる */
.fadeUp.scrollin {
display: block; 
    opacity : 1;
    transform : translate(0, 0);
}

/* フッターの指定 */

.footer {
  background-color: rgb(8, 165, 66);
  height: 650px;
  width: 100%;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* 文字とSNSのアイコンを含む箱 */

.footer_sns_box {
  margin: 0 auto;
}

/* SNSのアイコン3つ */

.footer_sns_link {
  display: flex;
  list-style: none;
  padding: 20px;
}

/* SNSのアイコン一つ? */

.footer_sns_link li {
  margin: 0px 10px;
}

/* posseのロゴが入った箱 */

.footer_logo_wrapper {
  background-color: none;
  width: 300px;
  height: auto;
  margin: 30px auto 20px;
}

/* posseのロゴ画像 */

.footer_logo_wrapper img {
  width: 300px;
  height: 100%;
}

/* POSSEマークホバーで色変化 */

.footer_logo_wrapper img:hover {
  opacity: 0.7;
  transition: .5s;
}

/* 画像を覆うaタグ */

.footer_logo_wrapper a {
  display: block;
  height: 100%;
}

/* snsで詳細を見るのテキスト */

.footer_sns_text {
  margin: 10px auto;
  font-family: "TsukuARdGothic-Regular";
}

/* twitterのアイコン */

.fa-twitter {
  font-size: 40px;
  color: rgb(65, 65, 65);
}

.fa-twitter:hover {
  color: rgb(68, 161, 255);
}

/* インスタのアイコン */

.fa-instagram {
  font-size: 40px;
  color: rgb(65, 65, 65);
  margin-right: 7px;
}

.fa-instagram:hover {
  color: rgb(228, 66, 29);
}

/* Lineのアイコンの色指定 */

.fa-line {
  font-size: 40px;
  color: rgb(65, 65, 65);
}

.fa-line:hover {
  color: rgb(126, 183, 28);
}

/* special thanksメッセージ */

.footer_message {
  color: white;
  padding: 10px;
  font-weight: 700;
  margin-top: 30px;
  font-size: 25px;
  font-family: 'Ubuntu Mono', monospace;
}

/* トップページに戻るボタン */

.footer-top-page-button {
  color: white;
  background: rgb(74, 74, 74);
  width: 300px;
  height: auto;
  margin: 10px auto;
  padding: 30px;
}

.footer-top-page-button:hover {
  color: rgb(74, 74, 74);
  background: white;
  transition: .8s;
}

/* トップページに戻るボタンのテキスト */

.footer-top-page-button-text {
  font-size: 25px;
  font-weight: 400;
}

/* 製作者の名前 */

.footer-editors {
  font-size: 12px;
  line-height: 30px;
  margin-top: 50px;
  font-family: 'Ubuntu Mono', monospace;
}

/* footerのsns上の矢印 */

.fa-arrow-circle-down {
  color: rgb(74, 74, 74);
}
